.logoPic {
	height: 50px;
}

.clearfix {
	content: "";
	clear: both;
	display: table;
}

html {
	width: 960px;
	margin-left: 25px;
	background-image: url(../images/topography.png);
}

article {
	width: 650px;
	float: left;
	background: #ffffff;
	border-top: 5px;
	border-color: #dddddd;
	margin-top: 10px;
}

.connect {
	width: 270px;
	float: left;
	margin-left: 15px;
	background: #ffffff;
	margin-top: 10px;
}

.profile_pic {
	float: left;
	padding: 5px;
}

.nav_bar {
	float: right;
	text-decoration: unset;
	font-size: 18px;
	position: relative;
	right: 0;
}

h2, h3 {
	color: #4aaaa5;
	padding: 10px;
}

h1 {
	border-color: #cccccc;
	background-color: #4aaaa5;
	color: #ffffff;
	padding: 10px;
	width: 200px;
	text-align: center;
}

h2 {
	border-bottom: 5px solid;
	border-color: #dddddd;
	margin: 0 5px;
}

h3 {
	text-align: center;
}

header {
	background-color: #ffffff;
	position: relative;
}